[flake8]
ignore = D203
exclude =
    # No need to traverse our git directory
    .git,
    # There's no value in checking cache directories
    __pycache__,
    .eggs,
    .pytest_cache,
    migrations
per-file-ignores =
    tests/**: F403, F405
max-complexity = 10
max-line-length = 120
application-import-names = affo_email_service
